<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<header>
    <h3><a href="http://localhost:8080">Greeting page</a></h3>
</header>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Enter your message">
        <input type="text" name="tag" placeholder="Tag">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <button type="submit">Add</button>
    </form>
</div>
<div>
    <form method="post" action="filter">
        <input type="text" name="filter" placeholder="Search by tag">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <button type="submit">Find</button>
    </form>
</div>
<table>
    <caption>List of messages</caption>
    <thead>
    <tr>
        <td>ID</td>
        <td>Message</td>
        <td>Tag</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
        <td><span th:text="${message.id}"></span></td>
        <td><span th:text="${message.message}"></span></td>
        <td><span th:text="${message.tag}"></span></td>
    </tr>
    </tbody>
</table>
</body>
</html>