<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{parts/head :: meta}"></div>
    <title>Main page</title>
</head>

<body>
<header th:replace="~{parts/head :: header}"></header>

<div class="container mt-5">

    <h5>Home</h5>

    <form method="get">
        <div class="row">
            <div class="col">
                <input class="form-control" type="text" name="filter" placeholder="Search by tag" th:value="${filter}">
            </div>
            <div class="col">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <div class="mt-3">

    <div class="mb-3">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#form-new-msg"
                    aria-expanded="true" aria-controls="form-new-msg">
                Add new message
            </button>
        </div>

        <div class="collapse mb-5" id="form-new-msg" style="">
            <form method="post" enctype="multipart/form-data">
                <!--msg & tag-->
                <div class="input-group mb-3 gap-3">
                    <input class="form-control" type="text" name="text" placeholder="Enter your message">
                    <input class="form-control" type="text" name="tag" placeholder="Tag">
                </div>
                <!--image-->
                <div class="row justify-content-start">
                    <div class="col-auto">
                        <input type="file" class="form-control" name="image" id="image"
                               aria-describedby="inputGroupFileAddon01"
                               aria-label="Upload">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                </div>

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </form>
        </div>

    </div>

    <div class="row row-cols-1 row-cols-md-auto gap-4">
        <div class="card" th:each="message : ${messages}">
            <div class="card-img-top" style="width: 18rem;" th:if="${message.fileName!=null}">
                <img th:src="@{/img/{image}(image=${message.fileName})}" class="card-img-top" alt="">
            </div>
            <div class="card-body">
                <p class="card-text" th:text="${message.message}"></p>
                <p class="card-text">
                    #<span th:text="${message.tag}"></span>
                </p>
            </div>
            <div class="card-footer">
                <span th:text="${message.authorName}"></span>
            </div>
        </div>
    </div>
</div>

</body>

</html>