<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<header>
    <h2><a href="http://localhost:8080">На главную</a></h2>
</header>
<body>
<form method="post">
    <input type="text" name="text" placeholder="Ввведите сообщение">
    <input type="text" name="tag" placeholder="Тэг">
    <button type="submit">Добавить</button>
</form>
<form method="post" action="filter">
    <input type="text" name="filter" placeholder="Поиск по тегу">
    <button type="submit">Найти</button>
</form>
<table>
    <caption>Список сообщений</caption>
    <thead>
    <tr>
        <td>ID</td>
        <td>Message</td>
        <td>Tag</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
        <td><span th:text="${message.id}"></span></td>
        <td><span th:text="${message.message}"></span></td>
        <td><span th:text="${message.tag}"></span></td>
    </tr>
    </tbody>
</table>
</body>
</html>