<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <div th:replace="parts/head :: meta"></div>
    <title>Registration</title>
</head>

<body>
<header th:replace="parts/head :: header"></header>
<div class="container mt-5">
    <a href="/login">Sign in</a>

    <h2>Registration</h2>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>

    <p>Add new user</p>
    <div th:if="${message!=null}" th:text="${message}">

    </div>
    <form th:action="@{/registration}" method="post">
        <div th:replace="~{parts/login::form}"></div>
        <div class="mb-3">
            <label class="form-label col-sm-1">Email :</label>
            <input class="form-control-sm-6" type="email" name="email" placeholder="example@mail.ru"/>
        </div>
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
</div>
</body>

</html>