<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="parts/head :: meta"></div>
    <title>Users</title>
</head>

<body>
<header th:replace="parts/head :: header"></header>

<div class="container mt-5">
    <h2>List of Users</h2>
    <table class="table">
        <thead>
        <tr>
            <th>User</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td>
                <p th:each="role : ${user.roles}">
                    <span th:text="${role} + ' '"></span>
                </p>
            </td>
            <td>
                <a th:href="@{'/user/' + ${user.id}}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>