<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div th:fragment="form">
    <div class="row mb-2">
        <label class="col-form-label col-sm-2" for="username">User Name :</label>
        <div class="col-md-5">
            <input type="text" th:class="'form-control col' + (${usernameError!=null} ? ' is-invalid')"
                   id="username" name="username"
                   th:value="${user!=null && usernameError!=null} ? ${user.username}"
                   placeholder="Enter your username">
            <div class="invalid-feedback" th:text="${usernameError}"></div>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-sm-2">Password :</label>
        <div class="col-md-5">
            <input type="password"
                   th:class="'form-control col' + (${passwordError!=null} ? ' is-invalid')"
                   name="password"
                   placeholder="Enter your password">
            <div class="invalid-feedback" th:text="${passwordError}"></div>
        </div>
    </div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
</div>
</body>
</html>